body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74b9ff, #a29bfe);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
    position: absolute;
    top: 0;
}

.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  width: 320px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2d3436;
}

.login-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #2d3436;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.login-container input:focus {
  border-color: #0984e3;
}

.button-group {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn {
  background-color: #0984e3;
  color: #fff;
}

.login-btn:hover {
  background-color: #74b9ff;
}

.register-btn {
  background-color: #6c5ce7;
  color: #fff;
}

.register-btn:hover {
  background-color: #a29bfe;
}

.login-google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.login-google:hover {
  background-color: #f7f7f7;
  border-color: #ccc;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.login-google:active {
  background-color: #eeeeee;
}

.login-google::before {
  content: "";
  background: url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg") no-repeat center center;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
